@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
    /* The image width */
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
    /* The image width */
  }
}

.mainsection {
  background-color: #e2e2e2;
  height: calc(100vh - 72px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.mainsection__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainsection__right .cardGallerySlider {
  overflow: hidden;
}

.mainsection__right .cardGallerySlider__wrapper {
  -webkit-animation: slide 15s linear infinite;
          animation: slide 15s linear infinite;
  will-change: transform;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem 1rem 1rem;
  overflow: hidden;
}

.mainsection__right .cardGallerySlider__wrapper .sliderItem {
  overflow: hidden;
  max-width: 17.0625rem;
  max-height: 23.75rem;
}

.mainsection__right .cardGallerySlider__wrapper .sliderItem__image {
  max-width: 17.0625rem;
  max-height: 23.75rem;
  border-radius: 16px;
}

.mainsection__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.mainsection__left__container {
  border-radius: 87px;
  background: linear-gradient(145deg, #f2f2f2, #cbcbcb);
  -webkit-box-shadow: 41px 41px 82px #737373, -41px -41px 82px #ffffff;
          box-shadow: 41px 41px 82px #737373, -41px -41px 82px #ffffff;
  padding: 2rem;
  margin-left: 2rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.mainsection__left .wrapper {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainsection__left .wrapper__heading {
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: bold;
}

.mainsection__left .wrapper__paragraph {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 1100px) {
  .mainsection {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .mainsection__left__container {
    margin: 0 5rem;
  }
  .mainsection__left .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainsection__left .wrapper__heading {
    display: inline-block;
    font-size: 5rem;
    text-align: center;
  }
  .mainsection__left .wrapper__paragraph {
    text-align: center;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=WelcomePage.css.map */